<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}DEVOUR{{else}}WAKE UP!{{/if}}
    </button>
    <button class="deleter" data-id="{{id}}" data-newdevoured="{{devoured}}">
        DELETE!
    </button>
</li>