<li>
    {{name}}

    <button class="btn-primary m-1 change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}ATTEMPT REGURNGETATE{{else}}DEVOUR{{/if}}
    </button>
    <button class="deleter" data-id="{{id}}" data-newdevoured="{{devoured}}">
        DELETE!
    </button>
</li>